html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #000000;
  background-color: #c4eeee;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.container {
  margin-top: 5vh;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
  margin-bottom: 20px;
  font-size: 24px;
  color: #5a7080;
}

.input-field,
.textarea-field {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.input-field:focus,
.textarea-field:focus {
  border-color: #f39c12;
}

.textarea-field {
  height: 80px;
  resize: none;
}

.section-title {
  margin: 10px 15px;

  font-size: 18px;
  color: #5a7080;
}

.error-message {
  margin-bottom: 10px;
  font-size: 14px;
  color: #e74c3c;
  text-align: left;
}

.send-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  border: none;
  background-color: #4a4a4a;
  border-radius: 5px;
  cursor: pointer;
  outline: none;

  transition: background-color 0.3s, box-shadow 0.3s;
}

.send-button:hover {
  background-color: #f39c12;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
